name: continuous-integration

on:
  pull_request:

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install nightly toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          profile: minimal
          toolchain: nightly-2021-04-18
          components: rustfmt
          override: true
          default: true
      - name: Check Format
        uses: actions-rs/cargo@v1.0.3
        with:
          command: fmt
          args: --all -- --check

  test:
    name: Build and test
    runs-on: ubuntu-latest
    needs: fmt
    container:
      image: rust
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: Swatinem/rust-cache@v1
    - name: Run tests, with all features
      run: cargo test --locked --workspace --all-features

  # TODO: as explained in the official repo (https://github.com/actions-rs/clippy), this action uses unstable GH actions features, but has the huge advantage of not requiring `GITHUB_TOKEN` and working on PRs from forked repositories ; should eventually replace `actions-rs/clippy@master` with a specific version
  clippy:
    needs: fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions-rs/toolchain@v1.0.7
        with:
            toolchain: nightly
            components: clippy
            override: true
      - uses: actions-rs/clippy@master
        with:
          args: --all-features --all-targets
